DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,sup.tekon-rl.cl,cloud.redlinegs.com
DJANGO_SECRET_KEY="django-insecure-+sd!fb44sdywyz7$*z*sn0crmsvuly&70l^^vrly+!@7x4q9p7"

POSTGRES_DB=base
POSTGRES_USER=magoreal
POSTGRES_PASSWORD=ojalaque!
POSTGRES_HOST=sup-db
CELERY_BROKER_URL=redis://sup-redis:6379/0
CELERY_RESULT_BACKEND=redis://sup-redis:6379/0

REDIS_URL=redis://sup-redis:6379/1
EMAIL_HOST=premium175.web-hosting.com
EMAIL_PORT=465
EMAIL_USE_SSL=True
EMAIL_HOST_USER=sup@tekon-rl.cl
EMAIL_HOST_PASSWORD=sup1020304sd0!
DEFAULT_FROM_EMAIL=sup@tekon-rl.cl.com

CORS_ALLOWED_ORIGINS="http://localhost:4321,https://sup.tekon-rl.cl.com,https://cloud.redlinegs.com"

FIREBASE_API_KEY=AIzaSyD1JVEEfALYm7AewLXIrWdY1dKognP5Mvas8
FIREBASE_AUTH_DOMAIN=redlinegs-b0ac63.firebaseapp.com
FIREBASE_PROJECT_ID=redlinegs-b0cas63
FIREBASE_STORAGE_BUCKET=redlinegs-b0cas63.appspot.com
FIREBASE_MESSAGING_SENDER_ID=97716988234582
FIREBASE_APP_ID=1:977169881231582:web:10adfasc014ae57f87e756ff
FIREBASE_MEASUREMENT_ID=G-M3ESD7Y3GH3C
