# Ignorar archivos de Python
*.pyc
__pycache__/

# Ignorar archivos de entornos virtuales
.venv/

# Ignorar archivos de configuración de editor
.vscode/
staticfiles
media
ArchivosBase
.vscode/
.env
db.sqlite3

node_modules/