# Ignorar archivos de Python
*.pyc
__pycache__/

# Ignorar archivos de entornos virtuales
.venv/

# Ignorar archivos de configuración de editor
.vscode/
staticfiles
ArchivosBase
.vscode/
.env
db.sqlite3