<!-- galeria_detalle.html -->
{% extends 'base.html' %}
{% load tailwind_tags %}

{% block css %}
    {% tailwind_css %}
{% endblock css %}

{% block body_class %}bg-gray-200 min-h-screen{% endblock body_class%}

{% block content %}
<main class="container mx-auto">
    <div class="py-4 text-center">
        <h1 class="text-3xl font-bold text-gray-800 mb-1">{{ sitio.sitio }}{% if sitio.cod_id != '----' %}_{{ sitio.cod_id }}{% endif %} </h1>
        <p class="text-2xl text-gray-600">{{ sitio.nombre }} {{ galeria.descripcion }}</p>
    </div>      
{% for fecha, items in items_por_fecha.items %}
    {% with day=fecha|date:"l" %}
    <h2 class="ml-3 {% if day == 'sábado' or day == 'domingo' %}text-red-500{% else %}text-gray-700{% endif %} text-xl font-semibold">
        {{ fecha|date:"j F Y (l)" }}
    </h2>
    {% endwith %}
    
    <!-- Mostrar imágenes de ese día -->
    <div class="columns-2 md:columns-3 gap-4 m-4">    
    {% for imagen in items.imagenes %}
        <img class="h-auto max-w-full contenedor mb-4" src="{{ imagen.imagen.url }}" alt="{{ imagen.descripcion }}" >
    {% endfor %}

    <!-- Verificar y Mostrar comentarios de ese día si existen -->
    {% if items.comentarios %}   
        {% for comentario in items.comentarios %}
        <div class="contenedor {% if comentario.es_prevencionista %}bg-red-200{% else %}bg-white{% endif %} w-full min-h-14 flex flex-col justify-between rounded-lg p-4 mt-4">
            <p class="mb-4">{{ comentario.comentario }}</p>
            <div class="text-right text-sm text-gray-600">
                {{ comentario.usuario }} {% if comentario.es_prevencionista %}(Prevencionista){% endif %}
            </div>
        </div>       
        {% endfor %}
    {% endif %}

    </div>
{% endfor %}
</main>
{% endblock content %}