<!-- imagewithtext.html -->
{% if options.display %}

  <div class="card-body border-4  
        {% if block_content.border == 'rojo' %}border-red-500 {% endif %}
        {% if block_content.border == 'amarillo' %} border-yellow-400 {% endif %}
        {% if block_content.border == 'verde' %} border-green-400 {% endif %}
        {% if block_content.border == 'gris' %} border-gray-500 {% endif %}
        {% if block_content.border == 'azul' %} border-blue-400 {% endif %}
">
    <figure class="relative contenedor">
      <img src="{{ block_content.image.url }}" alt="Shoes" />
      {% if block_content.date %}
        <p class="absolute bottom-0 right-0 text-white bg-black bg-opacity-50">{{ block_content.date|date:'d-m-Y' }}</p>
      {% endif %}
    </figure>

    <div class="card-body text-center relative">
      <h2 class="card-title">{{ block_content.title }}</h2>
      <p>{{ block_content.text }}</p>
    </div>
  </div>

{% endif %}
