<!--richtext.html-->
{% if options.display %}
    
    <div class="text-block border-4 py-2 px-4 flex flex-col justify-center text-left relative
        {% if block_content.border == 'rojo' %}border-red-500 {% endif %}
        {% if block_content.border == 'amarillo' %} border-yellow-400 {% endif %}
        {% if block_content.border == 'verde' %} border-green-400 {% endif %}
    ">
        
        {% if block_content.title %}
            <h5 class="font-semibold pb-2">{{ block_content.title|safe }}:</h5>
            {{block_content.border}}
        {% endif %}

        {{ block_content.text|safe }}

        {% comment %} {% if block_content.user_show %}
            <p class="absolute italic bottom-1 right-2 text-gray-600">
                {{ block_content.user.first_name|safe }} {{ block_content.user.last_name|safe }}
            </p>        
        {% endif %} {% endcomment %}
            
    </div>

{% endif %}