{% extends 'base.html' %}
{% load tailwind_tags %}

{% block css %}
    {% comment %} {% tailwind_preload_css %} {% endcomment %}
    {% tailwind_css %}
{% endblock css %}

{% block body_class %}bg-yellow-500{% endblock %}

{% block content %}


<div class="bg-yellow-400">
    Django | PostgreSQL | Redis | Tailwind
</div>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="text-red-600 {{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}
Esta autenticado
{% endif %}

{% endblock content %}
