{% extends 'base.html' %}
{% load static tailwind_tags %}

{% block css %}
    {% comment %} {% tailwind_preload_css %} {% endcomment %}
    {% tailwind_css %}
{% endblock css %}

{% block body_class %}{% endblock %}

{% block content %}
<div class="h-screen bg-stone-200 p-3">
    <div id="map" class="h-1/2 w-1/2 nm-protrude-2xl size-32 rounded-lg"> 

    </div>	
</div>
{% endblock content %}

{% block js %}
<script type="text/javascript">
	
	let static_url = "{% get_static_prefix %}";
	// Datos de sitios pasados al template
    var sitios = {{ sitios_json|safe }};
</script>

<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% endblock js %}
