<input type="checkbox" id="modal_sitios" class="modal-toggle" />
<div class="modal z-[1500]" role="dialog">
  <div class="modal-box w-full lg:w-11/12 max-w-5xl">
    <table class="table table-zebra table-xs table-pin-rows table-pin-cols">
      <thead>
        <tr>
          <th>Proyecto/Sitio</th>
          <td>Cod_Cliente</td>
          <td>Nombre</td>
          <td>Estado</td>
          <td>Contratista</td>
          <td>Supervisor/ITO</td>
        </tr>
      </thead>
      <tbody id="sitios-table-body" class="bg-yellow-200"></tbody>
    </table>
  </div>
  <label class="modal-backdrop" for="modal_sitios">Close</label>
</div>